.weatherCard {
    font-family: 'Lato', sans-serif;
    margin: 2px;
    padding: 10px;
    background-color: #000f36;
    border-radius: 5px;
    color: white;
    min-width: 20vw;
    min-height: 50vh;
    flex-flow: column;
}

.mainTemp {
    font-size: 90px;
}


p {
    font-size: 20px;
}