.searchWrap {
    font-family: 'Open Sans', sans-serif;
    display: block;
}

.searchTerm {
    border: 1.75px solid #000f36;
    min-width: 50vw;
}

.searchButton {
    font-family: 'Open Sans', sans-serif;
    height: 20px;
    width: 25px;
    background-color: #000f36;
    border-color: #000f36;
}