.recentSearches {
    color: #000f36;
}

.searchButtons {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.rsb {
    margin: 2px;
    background-color: #000f36;
    border-color: #36405b;
    border-radius: 3px;
    color: white;
}