.recentSearches {
    color: #000f36;
    font-family: 'Open Sans', sans-serif;
}

.searchButtons {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.rsb {
    font-family: 'Open Sans', sans-serif;
    min-height: 30px;
    min-width: 40px;
    margin: 2px;
    background-color: #000f36;
    border-color: #36405b;
    border-radius: 3px;
    color: white;
    font-size: 20px;
}